@import url('https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro&display=swap');
*
{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body{
	display:flex;
	flex-direction:column;
}
.navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.navigation > nav {
	display:flex;
	background: white;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.navigation > img{
	display:flex;
	flex-direction:row;
	height:70px;
	width:70px;
	object-fit:cover;
}
.navigation > nav > a{
	display:flex;
	justify-content: space-between;
	align-items:center;
	flex-direction:row;
	font-size:17px;
	color:black;
	padding:20px 20px;
	margin: 16px;
	text-decoration: none;
}
.navigation > nav > a:hover{
	color:red;
	text-decoration-style: line;
	border-bottom: 2px solid #004400;
}
.purchase{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-right:100px;
	background-color:#F7BCC2;
	border: 2px solid #F7BCC2;
	padding: 0 10px;
	color: #FFF;
}
.purchase:hover{
	color:black;
	background: #FFF;
	border: 2px solid #F7BCC2;
	cursor: pointer;
}
.head1 {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 50px;
}
.head1 > img{
	height:200px;
	width:200px;
	border-radius: 50%;
	object-fit:cover;
	justify-content: center;
}
.biodata {
	padding: 50px;
	color:white;
	align-items:center;
	display:flex;
	flex-direction:column;
}
.biodata .name {
	font-size: 50px;
	font-family: 'Bitter', cursive;
}
.email, .phone {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
.email {
	margin-top: 20px;
}
.biography {
	margin-top: 25px;
}
.icon > i{
	display: inline-block;
	padding: 15px;
}
.slide2{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	width: 100%;
	justify-content: center;
}
.abtme {
	display: flex;
	flex-flow: column nowrap;
	padding:20px;
}
.abtme-p {
	max-width: 400px;
}
.ini{
	height:500px;
	width:500px;
	object-fit:cover;
	justify-content:center;
}
.head1{
	background:linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("./brown.jpg");
	background-size: cover;
}