*
{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body{
	display:flex;
	flex-direction:column;
}
.navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.navigation > nav {
	display:flex;
	background: white;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.purchase{
	display:flex;
	align-self:flex-end;

}
.navigation > img{
	display:flex;
	flex-direction:row;
	height:70px;
	width:70px;
	object-fit:cover;
}
.navigation > nav > a{
	display:flex;
	justify-content: space-between;
	align-items:center;
	flex-direction:row;
	font-size:17px;
	color:black;
	padding:20px 20px;
	margin: 16px;
	text-decoration: none;
}
.navigation > nav > a:hover{
	color:red;
	text-decoration-style: line;
	border-bottom: 2px solid #004400;
}
.head1 {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 50px;
}
.head1 > img{
	height:200px;
	width:200px;
	border-radius: 50%;
	object-fit:cover;
	justify-content: center;
}
.biodata {
	padding: 50px;
	max-width: 300px;
}
.biodata .name {
	font-size: 25px;
	font-weight: 700;
}
.email, .phone {
	font-size: 16px;
}
.biography {
	margin-top: 25px;
}
.slide2{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	width: 100%;
	justify-content: center;
}
.abtme {
	display: flex;
	flex-flow: column nowrap;
	padding:20px;
}
.abtme-p {
	max-width: 400px;
}
.ini{
	height:500px;
	width:500px;
	object-fit:cover;
	justify-content:center;
}
.h1{

}